<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ctrl.getCurrentUser().fullName}}</h3>
	</div>
	<div class="panel-body">
		<table class="table table-user-information">
			<tbody>
				<tr>
					<td>Дата рождения</td>
					<td>{{ctrl.getCurrentUser().birthDate}}</td>
				</tr>
				<tr>
					<td>Пол</td>
					<td>{{ctrl.getCurrentUser().gender}}</td>
				</tr>
				<tr>
					<td>Адрес</td>
					<td>{{ctrl.getCurrentUser().address}}</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>
						<a ng-href="mailto:{{ctrl.getCurrentUser().email}}">
							{{ctrl.getCurrentUser().email}}
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<a ui-sref="user-page.contacts.edit({userId: ctrl.getCurrentUser().id})" class="btn btn-primary">Edit</a>
	</div>
</div>